<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/account.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RoadHaulage</title>
</head>
<style>
    #personal-info-link {
        display: inline-block;
        padding: 10px;
        margin: 0 0 0 20px;
        background-color: #007bff;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }

    #personal-info-link a {
        color: white;
    }

    #personal-info-link a::after {
        background-color: white;
    }
</style>
<body>
<div th:replace="~{header.html}"></div>
<div class="container">
    <div th:replace="~{profile/sidebar.html}"></div>
    <main style="align-content: flex-start">
        <div class="form-group">
            <label>First name</label>
            <input name="firstName" readonly th:value="${firstName}" type="text">
        </div>
        <div class="form-group">
            <label>Last name</label>
            <input name="lastName" readonly th:value="${lastName}" type="text">
        </div>
        <div class="form-group">
            <label>Last name</label>
            <input name="lastName" readonly th:value="${email}" type="text">
        </div>
        <div class="form-group">
            <label>Contact phone</label>
            <input name="localPhone" readonly th:value="${localPhone}" type="text">
        </div>
        <div class="form-group">
            <label>Rating</label>
            <input name="rating" readonly th:value="${rating} + ' (' + ${count} + ')'" type="text">
        </div>
    </main>
</div>
</body>
</html>
