<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/account.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/orders.css}">
<link rel="stylesheet" th:href="@{/css/pagination.css}">
<script src="/js/script.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoadHaulage</title>
</head>
<style>
  #accepted-link{
    display: inline-block;
    padding: 10px;
    margin: 0 0 0 20px;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  #accepted-link a{
    color: white;
  }
  #accepted-link a::after{
    background-color: white;
  }
</style>
<body>
<div th:replace="~{header.html}"></div>
<div class="container">
  <div th:replace="~{account/sidebar.html}"></div>
  <main>
    <div th:each="order : ${orders}" class="order">
      <span class="order-content" th:text="${order.customer.firstName} + ' ' + ${order.customer.lastName}"></span>
      <span class="order-content" th:text="${order.departureAddressString}"></span>
      <ion-icon name="arrow-forward-outline"></ion-icon>
      <span class="order-content" th:text="${order.deliveryAddressString}"></span>
      <span class="order-content" th:text="${order.cost} + ' ' + ${order.currency}"></span>
      <div class="button-container">
        <form th:action="@{/account/delivered-orders/accepted/decline}" method="post">
          <input type="hidden" name="id" th:value="${order.id}">
          <button style="background-color: red" title="Decline"><ion-icon name="trash-outline"></ion-icon></button>
        </form>
        <form th:action="@{/user/{email}/info(email=${order.customer.email})}" method="get">
          <button type="submit" title="See customer info"><ion-icon name="person-outline"></ion-icon></button>
        </form>
        <form th:action="@{/user/{email}/order/{id}(email=${order.customer.email}, id=${order.id})}" method="get">
          <button type="submit" title="See full order"><ion-icon name="eye-outline"></ion-icon></button>
        </form>
      </div>
    </div>

    <!--Pagination -->
    <div class="pagination" th:if="${totalPages > 1}">
      <a th:href="@{/account/delivered-orders/accepted/page={prev}(prev=${currentPage - 1})}"
         th:classappend="${currentPage == 0 ? 'disabled' : ''}">Previous</a>

      <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{/account/delivered-orders/accepted/page={page}(page=${i})}"
           th:text="${i + 1}"
           th:classappend="${currentPage == i ? 'active' : ''}"></a>
      </span>

      <a th:href="@{/account/delivered-orders/accepted/page={next}(next=${currentPage + 1})}"
         th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">Next</a>
    </div>
  </main>
</div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>