<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/account.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/orders.css}">
<script src="/js/script.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoadHaulage</title>
</head>
<style>
  #delivered-link{
    display: inline-block;
    padding: 10px;
    margin: 0 0 0 20px;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  #delivered-link a{
    color: white;
  }
  #delivered-link a::after{
    background-color: white;
  }
</style>
<body>
<div th:replace="~{header.html}"></div>
<div class="container">
  <div th:replace="~{account/sidebar.html}"></div>
  <main>
    <div th:each="order : ${orders}" class="order">
      <span class="order-content" th:text="${order.categoriesString}"></span>
      <span class="order-content" th:text="${order.departureAddressString}"></span>
      <ion-icon name="arrow-down-outline"></ion-icon>
      <span class="order-content" th:text="${order.deliveryAddressString}"></span>
      <span class="order-content" th:text="${order.costString}"></span>
    </div>
  </main>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>