<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/account.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoadHaulage</title>
</head>
<style>
  #personal-info-link{
    display: inline-block;
    padding: 10px;
    margin: 0 0 0 20px;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  #personal-info-link a{
    color: white;
  }
  #personal-info-link a::after{
    background-color: white;
  }
  .form-group select{
    margin-left: 0;
    margin-right: 30px;
  }
</style>
<body>
<div th:replace="~{header.html}"></div>
<div class="container">
  <div th:replace="~{account/sidebar.html}"></div>
  <main>
    <form th:action="@{/account/settings/personal-information/update}" method="post">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" th:placeholder="${firstName}"
               oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '');">
      </div>
      <p style="color: red" th:if="${firstNameError}" th:text="${firstNameError}"></p>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" th:placeholder="${lastName}"
               oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '');">
      </div>
      <p style="color: red" th:if="${lastNameError}" th:text="${lastNameError}"></p>
      <div class="form-group selector">
        <label>Contact phone</label>
        <select name="phoneCode">
          <option th:each="code: ${codes}" th:value="${code}" th:text="'+' + ${code}"></option>
        </select>
        <input type="text" pattern="[0-9]+" name="phone" th:placeholder="${phone}"
               oninput="this.value = this.value.replace(/[^0-9]/g, '');">
      </div>
      <p style="color: red" th:if="${phoneError}" th:text="${phoneError}"></p>
      <div class="form-group">
        <label for="iban">IBAN</label>
        <input type="text" id="iban" name="iban" th:placeholder="${iban}"
               oninput="this.value = this.value.replace(/[^A-Z0-9]/g, '');">
      </div>
      <button type="submit">Save changes</button>
    </form>
    <form th:action="@{/generate-report}" method="get">
      <button type="submit">Generate report</button>
    </form>
  </main>
</div>
</body>
</html>
