<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/account.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoadHaulage</title>
</head>
<body>
<div th:replace="~{header.html}"></div>
<div class="container">
  <div th:replace="~{account/sidebar.html}"></div>
  <div class="content">
  <h2>Personal Information</h2>
    <form th:action="@{/account/settings/personal-information/update}" method="post">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" th:placeholder="${firstName}">
      </div>
      <p style="color: red" th:if="${firstNameError}" th:text="${firstNameError}"></p>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" th:placeholder="${lastName}">
      </div>
      <p style="color: red" th:if="${lastNameError}" th:text="${lastNameError}"></p>
      <div class="form-group">
        <label for="phone">Contact phone</label>
        <input type="tel" id="phone" name="phone" th:placeholder="${phone}">
      </div>
      <p style="color: red" th:if="${phoneError}" th:text="${phoneError}"></p>
      <div class="form-group">
        <label for="iban">IBAN</label>
        <input type="text" id="iban" name="iban" th:placeholder="${iban}">
      </div>
      <button type="submit">Save changes</button>
    </form>
  </div>
</div>
</body>
</html>
