<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/account.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RoadHaulage</title>
</head>
<style>
    #privacy-link {
        display: inline-block;
        padding: 10px;
        margin: 0 0 0 20px;
        background-color: #007bff;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }

    #privacy-link a {
        color: white;
    }

    #privacy-link a::after {
        background-color: white;
    }
</style>
<body>
<div th:replace="~{header.html}"></div>
<div class="container">
    <div th:replace="~{account/sidebar.html}"></div>
    <main class="content">
        <form method="post" th:action="@{/account/settings/privacy/update}">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" name="email" th:placeholder="${email}" type="email">
            </div>
            <p th:if="${emailError}" th:text="${emailError}"></p>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" placeholder="********" type="password">
            </div>
            <p th:if="${passwordError}" th:text="${passwordError}"></p>
            <button type="submit">Save changes</button>
        </form>
    </main>
</div>
</body>
</html>
