<div class="sidebar">
  <h2>Settings</h2>
  <ul>
    <li><a th:href="@{/account/settings/personal-information}">Personal information</a></li>
    <li><a th:href="@{/account/settings/privacy}">Privacy</a></li>
  </ul>
  <h2>Estimates</h2>
  <ul>
    <li><a th:href="@{/account/estimates/create}">Create new</a></li>
    <li><a th:href="@{/account/estimates/created}">Created</a></li>
    <li><a th:href="@{/account/estimates/in-progress}">In progress</a></li>
    <li><a th:href="@{/account/estimates/completed}">Completed</a></li>
  </ul>
</div>