<div class="sidebar">
  <h2>Settings</h2>
  <ul>
    <li><a th:href="@{/account/settings/personal-information}">Personal information</a></li>
    <li><a th:href="@{/account/settings/privacy}">Privacy</a></li>
  </ul>
  <h2>My orders</h2>
  <ul>
    <li><a th:href="@{/account/my-orders/create}">Create new</a></li>
    <li><a th:href="@{/account/my-orders/created}">Created</a></li>
    <li><a th:href="@{/account/my-orders/in-progress}">In progress</a></li>
    <li><a th:href="@{/account/my-orders/completed}">Completed</a></li>
  </ul>
  <h2>Completed orders</h2>
</div>