<aside>
  <h2>Settings</h2>
  <ul>
    <li id="personal-info-link"><a th:href="@{/account/settings/personal-information}" >Personal information</a></li>
    <li id="privacy-link"><a th:href="@{/account/settings/privacy}">Privacy</a></li>
  </ul>
  <h2>My orders</h2>
  <ul>
    <li id="create-new-link"><a th:href="@{/account/my-orders/create}">Create new</a></li>
    <li id="all-orders-link"><a th:href="@{/account/my-orders/created/page=0}">All orders</a></li>
    <li id="completed-link"><a th:href="@{/account/my-orders/completed}">Completed</a></li>
  </ul>
  <h2>Delivered orders</h2>
  <ul>
    <li id="accepted-link"><a th:href="@{/account/delivered-orders/accepted}">Accepted</a></li>
    <li id="delivered-link"><a th:href="@{/account/delivered-orders/delivered}">Delivered</a></li>
  </ul>
</aside>