<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/password-recovery.css}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Password Recovery</title>
</head>
<body>
<div class="container">
    <h1>Password Recovery</h1>
    <form method="POST" th:action="@{/password-recovery/change/confirm}">
        <input id="email" name="email" readonly required th:value="${email}" type="email">
        <input id="password" name="password" required type="password">
        <button type="submit">Change password</button>
    </form>
</div>
</body>
</html>