<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/password-recovery.css}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
</head>
<body>
<div class="container">
    <h1>Password Recovery</h1>
    <form th:action="@{/password-recovery/change/confirm}" method="POST">
        <input type="email" name="email" id="email" th:value="${email}" readonly required>
        <input type="password" name="password" id="password" required>
        <button type="submit">Change password</button>
    </form>
</div>
</body>
</html>