<header>
    <div class="site-name">RoadHaulage</div>
    <div class="nav-links">
        <a sec:authorize="isAuthenticated()" th:href="@{/orders/page=0}">Orders</a>
        <a th:href="@{/about-us}">About us</a>
        <a th:href="@{/contact}">Contact</a>
        <a sec:authorize="hasAuthority('USER')" th:href="@{/account/settings/personal-information}">Account</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Log In</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>
    </div>
</header>