<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/orders.css}">
<link rel="stylesheet" th:href="@{/css/orders-filter.css}">
<link rel="stylesheet" th:href="@{/css/orders-page.css}">
<link rel="stylesheet" th:href="@{/css/pagination.css}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Orders</title>
</head>
<body>
<div th:replace="~{header.html}"></div>
<div class="container">
    <aside class="filter-bar">
        <form method="get" th:action="@{/orders/page=${currentPage}/filter}">
            <label for="category">Category:</label>
            <input id="selectedValues" name="categoriesString" readonly th:value="${categoriesString}" type="text">
            <select id="category">
                <option th:each="category : ${categories}" th:text="${category.name}"></option>
            </select>
            <label>Comparison Type:</label>
            <div class="comparison-type">
                <label class="comparison-label" for="strict-comparison">
                    <input class="comparison-radio" id="strict-comparison" name="comparisonType" type="radio"
                           value="strict">
                    <span class="radio-text">Strict Comparison</span>
                </label>
                <br>
                <label class="comparison-label" for="loose-comparison">
                    <input checked class="comparison-radio" id="loose-comparison" name="comparisonType" type="radio"
                           value="loose">
                    <span class="radio-text">Loose Comparison</span>
                </label>
                <br>
            </div>

            <label for="min-cost">Min cost:</label>
            <input id="min-cost" min="0" name="min-cost" step="1" th:max="${maxCost}" th:value="${minCost}"
                   type="range">
            <span class="value" id="min-cost-value" th:text="${minCost}"></span>

            <label for="max-cost">Max cost:</label>
            <input id="max-cost" min="0" name="max-cost" step="1" th:max="${maxCost}" th:value="${maxCost}"
                   type="range">
            <span class="value" id="max-cost-value" th:text="${maxCost}"></span>

            <label for="currency">Currency:</label>
            <select id="currency" name="currency">
                <option>ALL</option>
                <option>EUR</option>
                <option>USD</option>
                <option>GBP</option>
                <option>CHF</option>
                <option>PLN</option>
                <option>UAH</option>
            </select>
            <button disabled type="submit">Filter</button>
            <button th:href="@{/orders/page=${currentPage}}" type="reset">Reset</button>
        </form>
    </aside>
    <main class="orders">
        <div class="order" th:each="order : ${orders}">
            <span class="order-content"
                  th:text="${order.customer.firstName} + ' ' +  ${order.customer.lastName}"></span>
            <span class="order-content" th:text="${order.categoriesString}"></span>
            <span class="order-content" th:text="${order.departureAddressString}"></span>
            <ion-icon name="arrow-forward-outline"></ion-icon>
            <span class="order-content" th:text="${order.deliveryAddressString}"></span>
            <span class="order-content" th:text="${order.cost} + ' ' + ${order.currency}"></span>
            <div class="button-container">
                <form method="post" th:action="@{/account/delivered-orders/accepted/accept}">
                    <input name="id" th:value="${order.id}" type="hidden"/>
                    <button title="Accept order" type="submit">
                        <ion-icon name="arrow-down-outline"></ion-icon>
                    </button>
                </form>
                <form method="get"
                      th:action="@{/user/{email}/order/{id}(email=${order.customer.email}, id=${order.id})}">
                    <button title="See full order" type="submit">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>
                </form>
                <form method="get" th:action="@{/user/{email}/info(email=${order.customer.email})}">
                    <button title="See customer info" type="submit">
                        <ion-icon name="person-outline"></ion-icon>
                    </button>
                </form>
            </div>
        </div>
        <!--Pagination -->
        <div class="pagination" th:if="${totalPages > 1}">
            <a th:classappend="${currentPage == 0 ? 'disabled' : ''}"
               th:href="@{/orders/page={prev}(prev=${currentPage - 1})}">Previous</a>
            <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                <a th:classappend="${currentPage == i ? 'active' : ''}"
                   th:href="@{/orders/page={page}(page=${i})}"
                   th:text="${i + 1}"></a>
            </span>
            <a th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}"
               th:href="@{/orders/page={next}(next=${currentPage + 1})}">Next</a>
        </div>
    </main>
</div>
</body>
<script>
    const select = document.getElementById('category');
    const input = document.getElementById('selectedValues');
    const selectedOptions = new Set();

    select.addEventListener('change', () => {
        const options = Array.from(select.options);
        options.forEach(option => {
            if (option.selected) {
                if (selectedOptions.has(option.value)) {
                    selectedOptions.delete(option.value);
                    option.selected = false;
                } else {
                    selectedOptions.add(option.value);
                }
            }
        });
        input.value = Array.from(selectedOptions).join(', ');
    });

    function updateValue(sliderId, displayId) {
        const slider = document.getElementById(sliderId);
        const display = document.getElementById(displayId);

        slider.addEventListener('input', () => {
            display.textContent = slider.value;
        });
    }

    updateValue('min-cost', 'min-cost-value');
    updateValue('max-cost', 'max-cost-value');
</script>
<script src="/js/script.js"></script>
<script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>