<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/password-recovery.css}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Recovery</title>
</head>
<body>
<div class="container">
    <h1>Password Recovery</h1>
    <form th:action="@{/password-recovery/confirm}" method="POST">
        <input type="email" name="email" id="email" required>
        <button type="submit">Send Recovery Email</button>
        <div th:if="${param.error}">
            <p style="color: red;">Unable to send recovery email. Please try again.</p>
        </div>
    </form>
    <p th:if="${attentionMessage}" th:text="${attentionMessage}"></p>
    <p>Remembered your password? <a th:href="@{/login}">Return here</a></p>
</div>
</body>
</html>