<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/account.css}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoadHaulage</title>
</head>
<body>
<div class="navbar">
  <div class="site-name">RoadHaulage</div>
  <div class="nav-links">
    <a th:href="@{/about}">About Us</a>
    <a th:href="@{/contact}">Contact</a>
    <a th:href="@{/buyer/account}" sec:authorize="hasRole('ROLE_BUYER')">Account</a>
    <a th:href="@{/haulier/account}" sec:authorize="hasRole('ROLE_HAULIER')">Account</a>
    <a th:href="@{/login}" sec:authorize="!isAuthenticated()">Log In</a>
    <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Log out</a>
  </div>
</div>
</body>
</html>
