<div class="sidebar">
  <h2>Settings</h2>
  <ul>
    <li><a th:href="@{/buyer/account/personalInformation}">Personal information</a></li>
    <li><a th:href="@{/buyer/account/privacy}">Privacy</a></li>
  </ul>
  <h2>Estimates</h2>
  <ul>
    <li><a th:href="@{/buyer/account/estimates/create}">Create new</a></li>
    <li><a th:href="@{/buyer/account/estimates/published}">Published</a></li>
    <li><a th:href="@{/buyer/account/estimates/inProgress}">In progress</a></li>
    <li><a th:href="@{/buyer/account/estimates/completed}">Completed</a></li>
  </ul>
</div>